<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<header class="site-navbar py-3" role="banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-6 col-xl-3" data-aos="fade-down">
                <h1 class="mb-0"><a href="{{ path('home') }}" class="text-black h2 mb-0"><img id="logo-site" src="{{ asset('images/logo_200.png') }}" alt="Logo du site Charles Hopfner"> Charles  Hopfner</a></h1>
            </div>
            <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
                <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
                    <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                        <li {% if app.request.attributes.get('_route') == 'home' %}class="active"{% endif %}><a href="{{ path('home') }}">Home</a></li>
                        <li class="has-children">
                            <a href="#">Galerie</a>
                            <ul class="dropdown">
                                <li  {% if app.request.attributes.get('_route') == ('automobile') %}class="active has-children"{% endif %} class="has-children">
                                    <a href="{{ path('automobile') }}">Automobile</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Évenements</a></li>
                                        <li><a href="#">Shootings</a></li>
                                        <li><a href="#">Divers</a></li>
                                    </ul>
                                </li>
                                <li {% if app.request.attributes.get('_route') == ('nature') %}class="active"{% endif %}><a href="{{ path('nature') }}">Nature</a></li>
                            </ul>
                        </li>
                        <li {% if app.request.attributes.get('_route') == ('about') %}class="active"{% endif %}><a href="{{ path('about') }}">À propos</a></li>
                        <li {% if app.request.attributes.get('_route') == ('contact') %}class="active"{% endif %}><a href="{{ path('contact') }}">Contact</a></li>
                        {% if app.user %}
                        <li class="danger"><a href="{{ path('app_logout') }}">Se déconnecter</a></li>    
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <div class="col-6 col-xl-1 text-right" data-aos="fade-down">
                <div class="d-none d-xl-inline-block">
                    <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                        <li>
                            <a href="https://www.facebook.com/carbonphoto" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
                </div>
            </div>
        </div>
    </div>
</header>